@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Vazirmatn, "Outfit";
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
}

/* ::-webkit-scrollbar{
    display: none;
} */
.rich-text {
    font-size: 15px;
    color: #7A7B7D;

}


.rich-text span {
    line-height: 30px;

    @apply px-2
}

.rich-text h1 {
    font-size: 36px;
    font-weight: 800;
    color: #252525;
    margin: 16px 0;
}

.rich-text h2 {
    font-size: 22px;
    font-weight: 700;
    color: #252525;
    margin: 16px 0;
}

.rich-text h3 {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin: 16px 0;
}

.rich-text h4 {
    font-size: 16px;
    font-weight: 500;
    color: #444444;
    margin: 16px 0;
}

.rich-text h5 {
    font-size: 14px;
    font-weight: 400;
    color: #555555;
    margin: 16px 0;
}

.rich-text h6 {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    margin: 16px 0;
}

.rich-text strong {
    font-weight: 700;
}

.rich-text ol {
    margin-left: 30px;
    list-style-type: decimal;
}

.rich-text ul {
    margin-left: 30px;
    list-style-type: disc;
}

.rich-text li {
    margin-bottom: 0px
}

.rich-text {
    overflow-wrap: break-word;

}


.ql-blank {
    text-align: right !important;
}

.Toastify__toast-container {
    padding: 0 15px !important;
    margin-top: 10px;


}